@import '../../vars.scss';

player-table-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

table {
	width: 828px;
	height: 524px;
	margin: $margin-medium;
}

th, td {
	text-align: left;
}
  