@import "./vars.scss";

@font-face {
  font-family: Aeonik;
  src: url("./assets/fonts/Aeonik.otf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $almost-grey;
  font-family: "Aeonik";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.match-card-board {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Deux colonnes de taille égale */
  gap: 20px; /* Espace entre les colonnes */
  height: 100vh; /* Hauteur totale de la vue */
}

.main, .secondary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}