@import "./vars.scss";

@font-face {
  font-family: Aeonik;
  src: url("./assets/fonts/Aeonik.otf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $almost-grey;
  font-family: "Aeonik";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main, .secondary {
  display: flex;
  flex-direction: column;
  gap: $margin-medium;
}

h1 {
  margin-left: $margin-extralarge;
}

.match-card-board {
  display: grid;
  grid-template-columns: auto auto;
  gap: $margin-medium;
  justify-content: center;
}

main {
  margin: $margin-extralarge;
}