// Colors //
$blue-sporteasy: #030e2f;
$black: #393939;
$medium-grey: #8c929a;
$light-grey: #dadfe6;
$almost-grey: #f7f7f7;
$green: #4bcc1f;
$red: #fe3824;
$light-green: #dbf5d2;
$light-red: #f1c3ca;

// Margins //
$margin-small: 8px;
$margin-medium: 16px;
$margin-large: 24px;
$margin-extralarge: 40px;

// Font sizes //
$font-default: 14px;
$font-medium: 16px;
$font-large: 24px;
